{% extends 'layout.html.twig' %}

{% block content %}

{% if connect is defined %}
    
    {% if connect %}
    <div class="alert alert-success" role="alert">
        Bienvenue {{log.firstname}} {{log.lastname}} <br>
        <a href="/" class="btn btn-success">Accueil</a>
    </div>
    {% elseif connect == false %}
    <div class="alert alert-danger" role="alert">
        Le login et/ou le mot de passe n'est pas bon !
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        Vous êtes maintenant déconnecté 
    </div>
    {% endif %}
{% endif %}
    
<div class="form-signin text-center mt-5">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>

        <div class="form-floating">
        <input type="text" class="form-control" id="login" name="login" placeholder="Login"  autocomplete="off" required>
        <label for="login">Login</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"  autocomplete="off" required>
        <label for="password">Mot de passe</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Se connecter</button>
        <a href="/user/add" class="mt-5 mb-3 text-muted">S'enregistrer</a>
    </form>
</div>




{% endblock %}
